---
import { type Frontmatter } from '@/types'
import { type MarkdownHeading } from 'astro'
import type { LanguageKeys } from '@/i18n/ui'

import { DEFAULT_LANGUAGE_CODE } from '@/config'
import Base from '@/layouts/Base.astro'
import Sidebar from '@/components/sidebar/Sidebar.astro'
import OnThisPage from '@/components/navigation/OnThisPage.astro'
import PreviousNextPage from '@/components/navigation/PreviousNextPage.astro'
import EditThisPage from '@/components/navigation/EditThisPage.astro'

const langFromURL = Astro.url.pathname.split('/')[1] || DEFAULT_LANGUAGE_CODE
const lang: LanguageKeys = langFromURL as LanguageKeys

const { frontmatter, headings } = Astro.props as {
  frontmatter: Frontmatter
  headings: MarkdownHeading[]
}
---

<Base frontmatter={frontmatter} lang={lang}>
  <Sidebar lang={lang} />
  <div
    class="ml-[300px] mr-[500px] w1600:mr-[300px] w1200:mx-[250px] w1100:ml-[250px] w1100:mr-0 w800:ml-0"
  >
    <div class="mx-auto w-[800px] w1400:w-full">
      <OnThisPage lang={lang} headings={headings} />
      <div
        id="markdown"
        class="prose w-full max-w-full break-words p-10 text-lightModeText/90 w1200:prose-sm prose-headings:scroll-mt-28 prose-headings:text-lightModeText prose-a:text-lightModeText prose-blockquote:text-lightModeText prose-strong:text-lightModeText prose-ol:text-lightModeText prose-ul:text-lightModeText prose-table:text-lightModeText prose-tr:text-lightModeText prose-td:text-lightModeText prose-hr:bg-transparent dark:text-darkModeText/90 dark:prose-headings:text-darkModeText dark:prose-a:text-darkModeText dark:prose-blockquote:text-darkModeText dark:prose-strong:text-darkModeText dark:prose-code:text-darkModeText dark:prose-ol:text-darkModeText dark:prose-ul:text-darkModeText dark:prose-table:text-darkModeText dark:prose-tr:text-darkModeText dark:prose-td:text-darkModeText w800:p-8 w500:p-5"
      >
        <h1 class="w500:text-2xl" id="_top">{frontmatter.title}</h1>
        <p>{frontmatter.description}</p>
        <slot />
        <EditThisPage lang={lang} file={frontmatter.file} />
      </div>
      <PreviousNextPage lang={lang} />
    </div>
  </div>
</Base>
