---
import { type Frontmatter } from '@/types'
import { type MarkdownHeading } from 'astro'
import type { LanguageKeys } from '@/i18n/ui'

import Base from '@/layouts/Base.astro'
import Sidebar from '@/components/Sidebar.astro'
import OnThisPage from '@/components/OnThisPage.astro'
import PreviousNextPage from '@/components/PreviousNextPage.astro'
import EditThisPage from '@/components/EditThisPage.astro'

const langFromURL = Astro.url.pathname.split('/')[1] || 'en'
const lang: LanguageKeys = langFromURL as LanguageKeys

const { frontmatter, headings } = Astro.props as {
  frontmatter: Frontmatter
  headings: MarkdownHeading[]
}
---

<Base frontmatter={frontmatter} lang={lang}>
  <Sidebar lang={lang} />
  <div class="ml-[300px] mr-[500px]">
    <div class="mx-auto w-[800px]">
      <div
        id="markdown"
        class="prose w-full max-w-full p-10 text-black/90 prose-headings:scroll-mt-28 prose-headings:text-black prose-a:text-black prose-blockquote:text-black prose-strong:text-black prose-ol:text-black prose-ul:text-black prose-table:text-black prose-tr:text-black prose-td:text-black dark:text-white/90 dark:prose-headings:text-white dark:prose-a:text-white dark:prose-blockquote:text-white dark:prose-strong:text-white dark:prose-code:text-white dark:prose-ol:text-white dark:prose-ul:text-white dark:prose-table:text-white dark:prose-tr:text-white dark:prose-td:text-white"
      >
        <h1 id="_top">{frontmatter.title}</h1>
        <p>{frontmatter.description}</p>
        <slot />
        <EditThisPage lang={lang} file={frontmatter.file} />
      </div>
      <PreviousNextPage lang={lang} />
    </div>
  </div>
  <OnThisPage lang={lang} headings={headings} />
</Base>

<style is:global>
  #markdown code:not(pre)::before,
  #markdown code:not(pre)::after {
    content: '';
  }

  html.dark #markdown code:not(pre code) {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  html #markdown code:not(pre code) {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2px 6px;
    border-radius: 10px;
  }
</style>
